<a href="https://colab.research.google.com/github/Daffanugraha/Fungsio/blob/main/T2_Fungsional_%5B304%2C335%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipe Data Sequence


Sequence merupakan salah satu tipe data yang ada di dalam bahasa pemrograman Python. Tipe data sequence pada dasarnya adalah kumpulan data yang diurutkan atau disusun secara tertentu.

Beberapa tipe data sequence yang ada pada Python antara lain:

# List

List adalah tipe data sequence yang paling umum digunakan pada Python. List adalah kumpulan data yang diurutkan dan bisa berisi tipe data apa saja seperti angka, string, boolean, dan sebagainya. List ditandai dengan kurung siku ([ ]) dan setiap elemen di dalamnya dipisahkan oleh tanda koma (,).


> **Bagaimana cara membuat list?**

In [ ]:
#penulisan tip data list
data = [nilai]

Keterangan :
> Data adalah nama variabel yang didalamnya menyimpan nilai dengan tipe data list.

> [ nilai ] adalah nilai/item/anggota yang bisa berupa number atau string.

Berikut ini contohnya :

In [ ]:
# list kosong
list_kosong = []

# list yang berisi kumpulan string
list_buah = ['Pisang', 'Nanas', 'Melon', 'Durian']

# list yang berisi kumpulan integer
list_nilai = [80, 70, 90, 60]

# list campuran berbagai tipe data
list_jawaban = [150, 33.33, 'Presiden Sukarno', False]

print('list_kosong:', list_kosong)
print('list_buah:', list_buah)
print('list_nilai:', list_nilai)
print('list_jawaban:', list_jawaban)

list_kosong: []
list_buah: ['Pisang', 'Nanas', 'Melon', 'Durian']
list_nilai: [80, 70, 90, 60]
list_jawaban: [150, 33.33, 'Presiden Sukarno', False]



> **Cara mengakses nilai list**

Selain itu, kita bisa mengakses list menggunkan indeks contohnya nama_list[indeks-ke]. Dimana indeks dari list dimulai dari 0. Misalnya ada sekumpulan data list dengan jumlah 10, maka indeks list dimalai dari 0 sampi 9.

Berikut ini contohnya :

In [ ]:
data = [1,3,5,7, "aku", "saya"]
#tampilkan indeks ke 4
print (data[4])

aku



> **Slicing List**

Slicing list adalah teknik untuk memotong nilai pada list. Maksudnya adalah: kita mengambil beberapa nilai dari anggota list dengan mendefinisikan indeks kiri dan indeks kanan.

Perhatikan contoh kode program berikut:

In [ ]:
list_buah = ['Pisang', 'Nanas', 'Melon', 'Durian']

print(list_buah[0:1])
print(list_buah[0:2])
print(list_buah[1:3])
print(list_buah[0:-1])
print(list_buah[-1:-3])
print(list_buah[-1:3])
print(list_buah[-3:-1])

['Pisang']
['Pisang', 'Nanas']
['Nanas', 'Melon']
['Pisang', 'Nanas', 'Melon']
[]
[]
['Nanas', 'Melon']

**Keterangan**

*   Parameter indeks sebelah kiri mendefinisikan awal indeks dari nilai yang akan ditampilkan.
*   Parameter indeks sebelah kanan mendefinisikan batas yang harus ditampilkan.


> **Slicing tanpa batas**

Kita juga bisa melakukan slicing data tanpa mendefinisikan indeks batas. Coba perhatikan contoh berikut:

In [ ]:
list_buah = ['Pisang', 'Nanas', 'Melon', 'Durian']

print(list_buah[0:])
print(list_buah[1:])
print(list_buah[2:])
print(list_buah[3:])
print(list_buah[:0])
print(list_buah[:1])
print(list_buah[:2])
print(list_buah[:3])
print(list_buah[:4])

['Pisang', 'Nanas', 'Melon', 'Durian']
['Nanas', 'Melon', 'Durian']
['Melon', 'Durian']
['Durian']
[]
['Pisang']
['Pisang', 'Nanas']
['Pisang', 'Nanas', 'Melon']
['Pisang', 'Nanas', 'Melon', 'Durian']



> **Mengubah data di dalam list**

Pada awal pembahasan, dikatakan bahwa list adalah tipe data yang bersifat changable alias bisa diubah.

Bagaimana cara mengubah data di dalam list?

Caranya mudah, seperti mengubah nilai variabel pada umumnya. Perhatikan contoh berikut:

In [ ]:
list_buah = ['Pisang', 'Nanas', 'Melon', 'Durian']

print(list_buah)

# ubah data pertama
list_buah[0] = 'Jeruk'

print(list_buah)

# ubah data terakhir
list_buah[-1] = 'Mangga'

print(list_buah)

['Pisang', 'Nanas', 'Melon', 'Durian']
['Jeruk', 'Nanas', 'Melon', 'Durian']
['Jeruk', 'Nanas', 'Melon', 'Mangga']



> **Kita juga bisa mengubah data dalam range**

Di dalam python, kita juga bisa mengubah data dalam range tertentu secara sekaligus. Caranya tidak jauh berbeda dengan apa yang telah kita pelajari pada poin slicing data list.

Pada kode program di atas, tambahkan lagi kode program berikut:

In [ ]:
# ubah data dalam range
list_buah[1:3] = ['Naga', 'Pepaya']

print(list_buah)

['Jeruk', 'Naga', 'Pepaya', 'Mangga']



> **Menambah item ke dalam list**

Setelah kita mengubah data pada list, sekarang kita akan mencoba untuk menambahkan sebuah data baru ke dalam list.


1.   **Menambah data di belakang (append())**

Yang pertama, kita bisa menggunakan fungsi append(). Fungsi ini menerima satu parameter, yang mana parameter tersebut akan dimasukkan sebagai nilai baru pada list, dan nilai baru tersebut berada pada akhir item.

In [ ]:
list_buah = ['Jeruk', 'Naga', 'Pepaya', 'Mangga']
print(list_buah)

# tambah data di belakang list
list_buah.append('Sirsak')
print(list_buah)

['Jeruk', 'Naga', 'Pepaya', 'Mangga']
['Jeruk', 'Naga', 'Pepaya', 'Mangga', 'Sirsak']


2.   **Menambah data di depan (insert())**

Selain fungsi append(), kita juga bisa menambahkan item ke dalam list dengan menggunakan fungsi insert(). Fungsi insert ini menerima dua buah parameter:


*   Parameter pertama untuk mendefinisikan posisi indeks dari data yang akan dimasukkan
*   Parameter kedua untuk mendefinisikan nilai yang akan dimasukkan ke dalam list

Berikut ini contoh untuk memasukkan nilai Jambu ke dalam list_buah pada indeks 0.

In [ ]:
# tambah data di awal list
list_buah.insert(0, 'Jambu')
print(list_buah)

['Jambu', 'Jeruk', 'Naga', 'Pepaya', 'Mangga', 'Sirsak']

3. Menambah data di mana pun

Tidak hanya terbatas indeks 0, kita juga bisa memasukkan nilai pada indeks berapa pun pada list.

In [ ]:
# tambah data di index mana pun dalam list
list_buah.insert(2, 'Manggis')
print(list_buah)

['Jambu', 'Jeruk', 'Manggis', 'Naga', 'Pepaya', 'Mangga', 'Sirsak']



> **Menghapus item dari list**

Untuk menghapus item dari list, kita bisa menggunakan dua buah fungsi; fungsi pop() dan fungsi remove(), kita juga bisa menggunakan statement del.



1.   **Menghapus item dengan fungsi pop()**

Fungsi pop() akan mengambil item terakhir dari sebuah list, lalu menghapusnya. Karena ia juga “mengambil”, maka kita bisa menyimpan hasil kembalian dari fungsi pop() ke dalam sebuah variabel.

Perhatikan contoh berikut:

In [ ]:
list_angka = [1, 2, 3, 4, 5]
print(list_angka)

# hapus satu angka di belakang
angka_yang_terhapus = list_angka.pop()

print('angka yang terhapus:', angka_yang_terhapus)
print(list_angka)

[1, 2, 3, 4, 5]
angka yang terhapus: 5
[1, 2, 3, 4]

2. **Menghapus dengan fungsi remove()**

Selanjutnya adalah fungsi remove(). Fungsi ini akan menghapus data yang memiliki nilai yang sama dengan parameter yang dimasukkan.

Perhatikan contoh berikut:

In [ ]:
list_buah = ['Mangga', 'Jambu', 'Jeruk', 'Jambu']
print(list_buah)

# hapus item pertama dengan nilai 'Jambu'
list_buah.remove('Jambu')

print(list_buah)

['Mangga', 'Jambu', 'Jeruk', 'Jambu']
['Mangga', 'Jeruk', 'Jambu']

3. **Menghapus dengan statement del**

Selanjutnya, kita juga bisa menghapus item pada list dengan menggunakan statement del. Dengan statement ini, kita bisa menghapus indeks berapa pun dari item list.

Perhatikan contoh berikut:

In [ ]:
print('\n' * 2)

list_buah = ['Mangga', 'Jambu', 'Jeruk', 'Jambu']
print(list_buah)

del list_buah[1]
print(list_buah)

del list_buah[0:2]
print(list_buah)

['Mangga', 'Jambu', 'Jeruk', 'Jambu']
['Mangga', 'Jeruk', 'Jambu']
['Jambu']



> **Menggabungkan dua buah list atau lebih**

Berikutnya hal umum yang biasa kita lakukan dengan list adalah: menggabungkan dua buah list (atau lebih) menjadi satu kesatuan.

Bisa jadi kita memiliki 3 list berikut:

In [ ]:
a = [1, 2, 3]
b = ['a']
c = [True, 'b', False]

Kita bisa dengan mudah menggabungkan ketiganya menggunakan operator +.

In [ ]:
listBaru = a + b + c

print(listBaru)

[1, 2, 3, 'a', True, 'b', False]



> **Mengurutkan data**

Terakhir tapi bukan yang paling akhir, kita bisa mengurutkan data list pada python dengan memanggil fungsi <list>.sort().

Perhatikan contoh berikut:

In [ ]:
list_buah = ['Mangga', 'Jeruk', 'Zaitun', 'Apel', 'Durian']
print(list_buah)

# urutkan secara ascending
list_buah.sort()
print(list_buah)

# membalikkan posisi item list (tidak harus berurut)
list_buah.reverse()
print(list_buah)

['Mangga', 'Jeruk', 'Zaitun', 'Apel', 'Durian']
['Apel', 'Durian', 'Jeruk', 'Mangga', 'Zaitun']
['Zaitun', 'Mangga', 'Jeruk', 'Durian', 'Apel']



> **Fungsi-fungsi bawaan list**

Masih ada banyak sekali fungsi-fungsi list pada python yang belum kita bahas.

Secara umum, berikut ini di antara fungsi-fungsi list yang bisa kita manfaatkan untuk menyelesaikan berbagai macam permasalahan.

**Keterangan**

1. append()	: Menambahkan elemen baru pada list
2. clear()	: Menghapus semua item pada list
3. copy()	: Mengembalikan hasil duplikat dari list
4. count()	: Mengembalikan jumlah item pada list sesuai yang didefinisikan
5. index()	: Mengembalikan indeks pertama dari item yang sudah didefinisikan
6. insert()	: Menambahakn item baru pada list pada posisi tertentu
7. insert()	: Menambahakn item baru pada list pada posisi tertentu
8. remove()	: Hapus item pada list sesuai dengan nilai yang didefinisikan
9. reverse()	: Membalikkan posisi tiap item pada list
10. sort()	: Mengurutkan list

In [ ]:
my_list = [4, 2, 7, 1, 5]

In [ ]:
my_list.append(6)
print("Setelah append(6):", my_list)

Setelah append(6): [4, 2, 7, 1, 5, 6]

In [ ]:
my_list.clear()
print("Setelah clear():", my_list)

Setelah clear(): []

In [ ]:
my_list = [4, 2, 7, 1, 5]

In [ ]:
my_copy = my_list.copy()
print("Hasil copy():", my_copy)

Hasil copy(): [4, 2, 7, 1, 5]

In [ ]:
count = my_list.count(4)
print("Jumlah item dengan nilai 4:", count)

Jumlah item dengan nilai 4: 1

In [ ]:
index = my_list.index(7)
print("Indeks pertama dari nilai 7:", index)

Indeks pertama dari nilai 7: 2

In [ ]:
my_list.insert(2, 6)
print("Setelah insert(2, 6):", my_list)

Setelah insert(2, 6): [4, 2, 6, 7, 1, 5]

In [ ]:
my_list.remove(4)
print("Setelah remove(4):", my_list)

Setelah remove(4): [2, 6, 7, 1, 5]

In [ ]:
my_list.reverse()
print("Setelah reverse():", my_list)

Setelah reverse(): [5, 1, 7, 6, 2]

In [ ]:
my_list.sort()
print("Setelah sort():", my_list)

Setelah sort(): [1, 2, 5, 6, 7]

# Tuple
Tuple adalah 1 dari 4 tipe data kolektif pada python yang berguna untuk menyimpan lebih dari satu nilai dalam satu variabel secara sekaligus.

Tuple bersifat ordered (terurut) dan juga bersifat unchangable (tidak bisa diubah). Ordered berarti datanya bisa kita akses menggunakan indeks, dan unchangeable berarti datanya tidak akan pernah bisa diubah setelah pertama kali definisikan.

Dalam python, tipe data tuple didefinisikan dengan tanda kurung ().


*   Bagaimana cara membuat tuple?

In [ ]:
# cara standar
tuple_jenis_kelamin = ('laki-laki', 'perempuan')
print(tuple_jenis_kelamin)

# tanpa kurung
tuple_status_perkawinan = 'menikah', 'lajang'
print(tuple_status_perkawinan)

# menggunakan fungsi tuple()
tuple_lulus = tuple(['lulus', 'tidak lulus'])
print(tuple_lulus)

('laki-laki', 'perempuan')
('menikah', 'lajang')
('lulus', 'tidak lulus')

Keterangan
1. Cara yang pertama adalah cara standar dan paling dasar
2. Cara yang kedua tanpa tanda kurung.
3. Cara yang ketiga adalah dengan menggunakan fungsi tuple() dan melemparkan list sebagai parameternya.

Beberapa method dalam tipe data tuple :

> **Tuple kosong**

Untuk membuat tuple kosong, kita cukup dengan menuliskan dua tanda kurung seperti berikut:

In [ ]:
tuple_kosong = ()
print(tuple_kosong)

()



> **Tuple yang hanya berisi satu item**

Untuk mendefinisikan tuple yang hanya berisi satu item, kita tetap diharuskan menulis tanda koma.

In [ ]:
tuple_tunggal = (10,)
print(tuple_tunggal)

(10,)

Kalau tidak, maka python akan menggap tanda kurungnya tidak ada, seperti contoh berikut:

In [ ]:
print(type((10))) # yang ini dianggap integer biasa
print(type((10,))) # yang ini dianggap tuple

<class 'int'>
<class 'tuple'>



> **Cara mengakses nilai tuple**

Mengakses data pada tuple tidak jauh berbeda dengan cara mengakses data pada list, bahkan bisa kita bilang sama persis dalam keumumannya.

Kita bisa mengakses nilai pada tuple dengan langsung mendefinisikan indeks-nya seperti berikut:

In [ ]:
# cara standar
tuple_jenis_kelamin = ('laki-laki', 'perempuan')

print(tuple_jenis_kelamin[1]) # indeks satu
print(tuple_jenis_kelamin[0]) # indeks nol

perempuan
laki-laki

Kita juga bisa mengakses nilai pada tuple dengan negatif indeks:

In [ ]:
print(tuple_jenis_kelamin[-2])
print(tuple_jenis_kelamin[-1])

laki-laki
perempuan



> **Slicing tuple**

Slicing adalah teknik memotong nilai dari sebuah tuple. Sintaksnya sama saja dengan teknis slicing di list. Tidak berbeda.

Untuk melakukan slicing, kita perlu mendefinisikan range indeks dengan pemisah tanda titik dua (:).

Perhatikan kode berikut:

In [ ]:
tuple_buah = ('Pisang', 'Nanas', 'Melon', 'Durian')

print(tuple_buah[0:1])
print(tuple_buah[0:2])
print(tuple_buah[1:3])
print(tuple_buah[0:-1])
print(tuple_buah[-1:-3])
print(tuple_buah[-1:3])
print(tuple_buah[-3:-1])

('Pisang',)
('Pisang', 'Nanas')
('Nanas', 'Melon')
('Pisang', 'Nanas', 'Melon')
()
()
('Nanas', 'Melon')



> **Slicing tanpa batas**

Slicing pada tuple juga bisa dilakukan tanpa harus mendefinisikan batas sebelah kanan mau pun sebelah kiri. Sebagaimana contoh berikut:

In [ ]:
tuple_buah = ('Pisang', 'Nanas', 'Melon', 'Durian')

print(tuple_buah[0:])
print(tuple_buah[1:])
print(tuple_buah[2:])
print(tuple_buah[3:])
print(tuple_buah[:0])
print(tuple_buah[:1])
print(tuple_buah[:2])
print(tuple_buah[:3])
print(tuple_buah[:4])

('Pisang', 'Nanas', 'Melon', 'Durian')
('Nanas', 'Melon', 'Durian')
('Melon', 'Durian')
('Durian',)
()
('Pisang',)
('Pisang', 'Nanas')
('Pisang', 'Nanas', 'Melon')
('Pisang', 'Nanas', 'Melon', 'Durian')



> **Mengubah data pada tuple**

Kita telah mempelajari pada pertemuan sebelumnya bahwa kita bisa mengubah data pada list. Akan tetapi, berbeda dengan Tuple. Kita tidak bisa mengubah data pada tuple. Dan jika kita kekeuh berusaha mengubah data tertentu dari tuple, kita hanya akan mendapatkan error.

Perhatikan contoh berikut:

In [ ]:
# mencoba edit data list
list_siswa = ['Andi', 'Budi']
list_siswa[0] = 'Ardi'

# mencoba edit data tuple
tuple_siswa = ('Andi', 'Budi')
tuple_siswa[0] = 'Ardi'

TypeError: ignored

Tuple memang difungsikan untuk kasus-kasus tertentu di mana nilai data bersifat tetap, tidak akan berubah selama runtime. Seperti misalnya data jenis kelamin.



> **Sequence Unpacking**

Fitur selanjutnya dari Tuple adalah: sequence unpacking. Fitur ini berfungsi untuk mengekstrak isi dari tuple ke dalam variabel-variabel tunggal secara berurutan. Kita hanya perlu menggunakan operator assignment standar (simbol sama dengan =) dan mendefinisikan nama variabel dengan koma.

Contohnya adalah seperti ini:

In [ ]:
siswa = ('Nurul Huda', 'Bangkalan', 24)

# ekstrak data atau juga dinamakan sequence unpacking
nama, asal, usia = siswa

# setiap variabel di atas akan memiliki nilai dari tiap isi tuple
# secara berurutan
print('Nama:', nama)
print('Asal:', asal)
print('Usia:', usia)

Nama: Nurul Huda
Asal: Bangkalan
Usia: 24

**Penjelasan**
Jika kita perhatikan kode program dan output di atas, kita bisa simpulkan bahwa:

Variabel nama memiliki nilai dari siswa[0]
Variabel asal memiliki nilai dari siswa[1]
Variabel usia memiliki nilai dari siswa[2]



> **Menggabungkan dua buah tuple atau lebih**

Hal lain yang bisa kita lakukan dengan tuple adalah: menggabungkan beberapa tuple menjadi satu tuple baru.

Kita bisa melakukan hal tersebut menggunakan operator penjumlahan + seperti contoh berikut:

In [ ]:
a = (1, 2, 3)
b = (50, 60, 70)
c = a + b
c

(1, 2, 3, 50, 60, 70)



> **Fungsi-fungsi bawaan tuple**

Sama seperti list, tuple juga memiliki fungsi-fungsi bawaan yang bisa kita gunakan seperti berikut:

**Keterangan :**


1.   len() : Menghitung jumlah item pada tuple
2.   max() : Mencari nilai paling besar dari sebuah tuple
3. min() : Mencari nilai paling kecil dari sebuah tuple

Contoh penggunaan:

In [ ]:
nilai_semester_1 = (80, 90, 100, 88, 60)

In [ ]:
max(nilai_semester_1)

100

In [ ]:
min(nilai_semester_1)

60

In [ ]:
len(nilai_semester_1)

5

# DICT

Dictionary seperti buku alamat, dengan buku alamat kita bisa mencari alamat atau detail
kontak hanya menggunakan nama orang yang kita cari. Kita mengasosiasikan key
(nama) dengan value (detail). Catatan: key harus bersifat unik, kita tidak bisa
menemukan informasi yang tepat jika ada dua orang yang mempunyai nama yang sama
dalam buku alamat kita bukan. Untuk key/kunci, kita hanya bisa menggunakan objek
immutable (seperti string). Sedangkan untuk value dalam dictionary, kita bisa
menggunakan objek mutable maupun immutable seperti list, angka, tuple, maupun string. Dictionary ditulis dengan kurung kurawal, dan memiliki kunci dan nilai.

In [ ]:
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}



> **type()**

  Dari perspektif python, dictionary didefinisikan sebagai objek dengan tipe data 'dict'.

In [ ]:
print(type(thisdict))

<class 'dict'>

Dictionary dapat mengakses item dengan mengacu pada nama key, di dalam
tanda kurung siku.

In [ ]:
x = thisdict.get("model")
print(x)

Mustang



> **values()**

mengembalikan list semua nilai dalam dictionary.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])



> **Update Dictionary**

update() akan memperbarui dictionary dengan item dari argumen yang
diberikan. Argumen harus berupa dictionary, atau objek yang dapat diubah dengan
pasangan kunci:nilai.

In [ ]:
# Memperbarui nilai kunci "year"
thisdict.update({"year": 2020})

# Mencetak seluruh isi kamus
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}



> **Dictionary Bersarang**

Dictionary dapat berisi dictionary lagi, ini disebut dictionary bersarang.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
},
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
},
  "child3" : {
    "name" : "Linus",
    "year" : 2011
}
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}



> **Menyalin Dictionary**

tidak dapat menyalin dictionary hanya dengan mengetikkan dict2 = dict1, karena
dict2 hanya akan menjadi referensi ke dict1, dan perubahan yang dibuat di dict1 akan
otomatis juga dibuat di dict2. Ada beberapa cara untuk membuat salinan, salah satu
caranya adalah dengan menggunakan metode dictionary bawaan copy().

In [ ]:
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}



> **Metode** **Dictionary**

1. clear() Menghapus semua elemen dari dictionary

2. copy() Mengembalikan salinan dictioanary

3. fromkeys() Mengembalikan dictionary dengan kunci dan nilai yang
ditentukan

4. get() Mengembalikan nilai dari kunci yang ditentukan

5. items() Mengembalikan list yang berisi tupel untuk setiap pasangan
nilai kunci

6. keys() Mengembalikan list yang berisi kunci dictionary.

7. pop() Menghapus elemen dengan kunci yang ditentukan.

8. popitem() Menghapus pasangan nilai kunci yang terakhir dimasukkan

9. setdefault() Mengembalikan nilai dari kunci yang ditentukan. Jika kunci
tidak ada: masukkan kunci, dengan nilai yang ditentukan

10. update() Memperbarui dictionary dengan pasangan nilai kunci yang
ditentukan.

111. values() Mengembalikan list semua nilai dalam dictionary.

In [ ]:
# Membuat dictionary awal
my_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

# 1. clear() - Menghapus semua elemen dari dictionary
my_dict.clear()

# 2. copy() - Mengembalikan salinan dictionary
copy_dict = my_dict.copy()

# 3. fromkeys() - Mengembalikan dictionary dengan kunci dan nilai yang ditentukan
keys = ["brand", "model", "year"]
values = ["Ford", "Mustang", 1964]
new_dict = dict.fromkeys(keys, "same")

# 4. get() - Mengembalikan nilai dari kunci yang ditentukan
model = my_dict.get("model", "Tidak ditemukan")

# 5. items() - Mengembalikan list yang berisi tupel untuk setiap pasangan nilai kunci
item_list = my_dict.items()

# 6. keys() - Mengembalikan list yang berisi kunci dictionary
key_list = my_dict.keys()

# 7. pop() - Menghapus elemen dengan kunci yang ditentukan (dengan pengecekan)
if "model" in my_dict:
    my_dict.pop("model")

# 8. popitem() - Menghapus pasangan nilai kunci yang terakhir dimasukkan
if my_dict:
    last_item = my_dict.popitem()
else:
    last_item = "Dictionary sudah kosong"
# 9. setdefault() - Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci, dengan nilai yang ditentukan
my_dict.setdefault("color", "Red")

# 10. update() - Memperbarui dictionary dengan pasangan nilai kunci yang ditentukan
my_dict.update({"year": 2020, "engine": "V8"})

# 11. values() - Mengembalikan list semua nilai dalam dictionary
value_list = my_dict.values()

# Mencetak hasil
print("Clear Dict:", my_dict)
print("Copy Dict:", copy_dict)
print("Fromkeys Dict:", new_dict)
print("Get Model:", model)
print("Items List:", item_list)
print("Keys List:", key_list)
print("Updated Dict:", my_dict)
print("Values List:", value_list)
print("Popped Item:", last_item)

Clear Dict: {'color': 'Red', 'year': 2020, 'engine': 'V8'}
Copy Dict: {}
Fromkeys Dict: {'brand': 'same', 'model': 'same', 'year': 'same'}
Get Model: Tidak ditemukan
Items List: dict_items([('color', 'Red'), ('year', 2020), ('engine', 'V8')])
Keys List: dict_keys(['color', 'year', 'engine'])
Updated Dict: {'color': 'Red', 'year': 2020, 'engine': 'V8'}
Values List: dict_values(['Red', 2020, 'V8'])
Popped Item: Dictionary sudah kosong